.actions {
  width: 100%;
  height: 100%;
  display: block;
  background-color: var(--bg-white-color);
  padding-top: var(--padding-top);
  transition: all 1s;
}

.active {
  display: block;
}

.actionWrap {
  max-height: calc(100vh - 100px);
  overflow: auto;
  padding: var(--padding-top);
}
